@import	url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&display=swap')
	;
/* police ? */
.title {
	-fx-font-size: 46pt;
	-fx-font-family: 'Chakra Petch', sans-serif;
}

.play {
	-fx-font-size: 32pt;
	-fx-background-radius: 22;
	-fx-background-color: #323232;
	-fx-text-fill: white;
	-fx-pref-height: 80px;
	-fx-pref-width: 250px;
}

.more {
	-fx-font-size: 10pt;
	-fx-background-radius: 22;
	-fx-pref-height: 57px;
	-fx-pref-width: 170px;
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-border-style: solid;
	-fx-border-radius: 22;
}

.rules {
	-fx-font-size: 32pt;
	-fx-text-fill: white;
}

.title-rules {
	-fx-font-size: 24pt;
	-fx-text-fill: white;
	-fx-text-alignment: center;
}

.right {
	-fx-background-color: #323232;
	-fx-background-radius: 42;
	-fx-pref-height: 750px;
	-fx-pref-width: 500px;
	-fx-alignment: top-center;
}

.bar {
	-fx-pref-width: 400px;
	-fx-font-size: 18pt;
}

.bar .thumb {
	-fx-background-color: white;
}

.bar .track {
	-fx-background-color: white;
}

.bar .axis {
	-fx-tick-label-fill: white;
}

.check-box {
	-fx-alignment: top-center;
	-fx-text-fill: white;
	-fx-font-size: 10pt;
}

.check-box:selected .box {
	-fx-background-color: black;
}

.check-box:selected .mark {
	-fx-background-color: transparent;
}

.check-box .box {
	-fx-background-color: white;
	-fx-background-radius: 0;
}

.number {
	-fx-text-fill: white;
	-fx-font-size: 15pt;
}

.btn-game {
	-fx-pref-height: 20px;
	-fx-pref-width: 100px;
	-fx-background-color: #323232;
	-fx-text-fill: white;
	-fx-background-radius: 0;
}

.btn-game-str {
	-fx-pref-height: 20px;
	-fx-pref-width: 180px;
	-fx-background-color: #323232;
	-fx-text-fill: white;
	-fx-background-radius: 0;
	-fx-font-size: 13pt;
}

.title-str {
	-fx-font-size: 15pt;
}
.bar-speed .thumb {
	-fx-background-color: black;
	-fx-font-size: 11pt;
}

.bar-speed .track {
	-fx-background-color: black;
	-fx-font-size: 1pt;
}